/* Commun Ã  toutes les pages */
html {
    background-color: #ccc;
    color: #555;
    font-family: sans-serif;
    font-size: 1.0em;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 50em;
    min-height: 100vh;
    background-color: #fff;
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.0;
}

/* pour le jeu */
#jeu {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid black;
    width:250px;
    height:250px;
}

#jeu table {
    width:100%;
    height:100%;
    table-layout: fixed;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.actions-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.actions-container > a {
    width: 48%;
}

td.simplehorizontal {
    border-radius: 0;
    background: url("../vue/img/trait.png") center no-repeat;
}

td.doublehorizontal {
    border-radius: 0;
    background: url("../vue/img/traits.png") center no-repeat;
}

td.simplevertical {
    border-radius: 0;
    background: url("../vue/img/trait.png") center no-repeat;
    transform: rotate(90deg);
}

td.doublevertical {
    border-radius: 0;
    background: url("../vue/img/traits.png") center no-repeat;
    transform: rotate(90deg);
}


a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  background-color: #AAAAAA;
  border-radius: 100%;
}

a.complete {
    background-color: green;
    border-color: black;
}

a.desactiver {
    color: #aaa;
    border-color: #aaa;
}

a.selectionner {
    background-color: blue;
    border-color: black;
}
